<!-- EJS Page for script calls.

This page holds script code for corresponding stylesheet files in header.
 -->
<script src="/javascripts/style.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
  </body>
</html>
