<nav class="navbar navbar-expand-lg" style="background-color: #219ebc;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src = "/images/courseiscore3.png" width = "15%"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" style="color:#E5DD06;"  aria-current="page" href="/home"> <i class="fa-solid fa-lg fa-house-user" style="color:#E5DD06;"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" style="color:#EFA321;"  aria-current="page" href="/grade"> <i class="fa-regular fa-a" style="color:#EFA321;"></i> Grades</a>
        </li>
        </li>
      </ul>
    </div>
  </div>
</nav>