<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content = "IE=edge">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>


    
  </head>
  <body>
<nav class="navbar navbar-expand-lg" style="background-color: #219ebc;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src = "/images/courseiscore3.png" width = "15%"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" style="color:#EFA321;"  aria-current="page" href="#"> <i class="fa-regular fa-user" style="color:#EFA321;"></i> Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" style="color:#99ED72;" aria-current="page" href="#"> <i class="fa-solid fa-user-plus" style="color:#99ED72"></i> Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main>
  <div class="jumbotron jumbotron-fluid">
    <div class="footerContainer">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      <p>Welcome to a wonderful software, here to help you with your need of calculating average grades. 
        This is a useful as it allows you to enter a grade out of any total and will calculate your average grade
      <p>
      <img src = "/images/gpa.jpg">
    </div>
  </div>
</main>
<nav class="navbar fixed-bottom" style="background-image: linear-gradient(0deg, rgba(34,195,131,1) 0%, rgba(213,253,45,1) 100%);">
  <h6 class="navbar-text" style="color:#F06767;">&copy; Copyright 2024. All Rights reserved</h6>
  <h6 class="navbar-text ms-auto" style="color:#F06767;"> Contact me at rajevan.sathiyakumar@ontariotechu.net</h6>
</nav>
    <script src="/javascripts/style.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
  </body>
</html>
